section.s-dispute#dispute
  .container.dispute__container
    .title.dispute__title.upper
      |Какие 
      span.line проблемы мы решаем?
    p.dispute__text Специалиазациями компании "Верное решение" является решение споров следующих категорий:
    .dispute__row.row
      - var obj = { "1" : { "name" : "Возмещение задолженности", "text" : "Вам уже давно обещают вернуть долг? Юридическая компания «Верное решение» поможет вернуть Ваши средства в кратчайшие сроки! Мы не вводим Вас в заблуждение и не ведем дел, где невозможно реально вернуть долг", "icon" : "money" }, "2" : { "name" : "Административные споры", "text" : "Вас несправедливо оштрафовали или выдали незаконное предписание? Юридическая компания «Верное решение» знает, как исправить ситуацию и оспорить решение в арбитражном суде", "icon" : "hummer" }, "3" : { "name" : "Корпоративные споры", "text" : "У Вас возникли споры, связанные с созданием, реорганизацией и ликвидацией юридического лица? Или споры с принадлежностью акций, долей в уставном капитале? Наши юристы решат любые споры по искам учредителей", "icon" : "list" }, "4" : { "name" : "Уголовные дела", "text" : "Мы представляем интересы компаний на стадии предварительного следствия и в суде по уголовным делам. Наши юристы имеют опыт работы в судебной системе и огранах гос безопастности > 10 лет, мы имеем высокий процент выигранных дел (порядка 98%)", "icon" : "scales" }, "5" : { "name" : "Договорные споры", "text" : "Вы «напоролись» на недобросовестного контрагента? Контрагент не выполнил условия договора? Мы поможем Вам решить споры в этой области в максимально коротки сроки!", "icon" : "file" }, "6" : { "name" : "Таможенные споры", "text" : "Юридическая компания «Верное решение» представляет интересы компаний, осуществляющих внешнеэкономическую деятельность. Наши юристы помогут Вам в спорах, связанных с таможенными и налоговыми органами", "icon" : "car" } }
      - each object, index in obj
        .dispute__item
          .dispute__item__numb
            span 0#{index}
          .dispute__item__sticker
            .dispute__item__sticker_wrap
              svg(class="svgsprite -#{object.icon}")
                use(xlink:href="./assets/img/sprites/svgsprites.svg##{object.icon}")
          span.dispute__item__title #{object.name}
          .dispute__item__text #{object.text}
          a(href="#trouble-form").block-btn__link.dispute__item__link.popup-with-form Решить проблему